.card__link {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: var(--text-color);
  text-underline-position: under;
}
