.places__title {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .places__title {
    font-size: 42px;
    line-height: 1.10;
  }
}

@media (max-width: 320px) {
  .places__title {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}
