.footer__link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: var(--text-color);
  text-decoration: none;
}

@media (max-width: 700px) {
  .footer__link {
    font-size: clamp(24px, 4vw, 16px);
    line-height: clamp(24px, 4.8vw, 18px);
  }
}

@media (max-width: 320px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
