.lead__title {
  margin: 0 0 32px;
  padding: 0 16px;
  max-width: 720px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: var(--text-color);
}

@media (max-width: 767px) {
  .lead__title {
    font-size: clamp(40px, 12vw, 96px);
    line-height: clamp(44px, 12vw, 100px);
  }
}

@media (max-width: 320px) {
  .lead__title {
    margin-bottom: 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 1.10;
  }
}
