.card__description {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media (max-width: 768px) {
  .card__description {
    gap: 25px;
  }
}

@media (max-width: 320px) {
  .card__description {
    padding-left: 16px;
    padding-right: 16px;
  }
}
