.lead__subtitle {
  box-sizing: border-box;
  margin: 0 0 64px;
  padding: 0 16px;
  max-width: 640px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: var(--text-color);
}

@media (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media (max-width: 767px) {
  .lead__subtitle {
    font-size: clamp(16px, 4vw, 30px);
    line-height: clamp(20px, 4.8vw, 36px);
  }
}

@media (max-width: 320px) {
  .lead__subtitle {
    margin-bottom: 40px;
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
  }
}

