.cover {
  margin: 46px 48px;
}

@media (max-width: 1024px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .cover {
    margin-top: 45px;
    margin-bottom: 44px;
  }
}

@media (max-width: 320px) {
  .cover {
    margin-top: 33px;
    margin-bottom: 32px;
  }
}
