.intro__article-container {
  margin: 0 auto 0 148px;
  max-width: 690px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .intro__article-container {
    margin-left: 48px;
  }
}

@media (max-width: 768px) {
  .intro__article-container {
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .intro__article-container {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
}
