.intro__title {
  margin: 0 0 40px;
  padding: 0;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .intro__title {
    font-size: clamp(32px, 8vw, 54px);
    line-height: clamp(35px, 8.5vw, 58px);
  }
}

@media (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
